.wrapper
{
    width: 100%;
}

.container
{
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    padding: 30px 10vw;
    background-color: var(--primary-bg);
}

.courses
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
}

.spinner
{
    min-height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header
{
    margin: 0;
    font-size: 60px;
    font-weight: 700;
    color: var(--action-color);
}

.faqWrapper, .faq
{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.faq
{
    row-gap: 20px;
}

@media screen and (max-width:480px) 
{
    .container
    {
        padding: 20px;
    }    
}
