@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}



@layer base {
  :root {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 72.2% 50.6%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body
{
  margin: 0;
  background-color:#f8fafc;
}

*
{
  box-sizing: border-box;
}

:root
{
  --primary-color: #081524;
  --primary-bg: #0B192C;
  --secondary-color: white;
  --action-color: #FCC419;
  --box-shadow: 
    2px 2px 5px rgba(0, 0, 0, 0.1),
    4px 4px 10px rgba(0, 0, 0, 0.15), 
    6px 6px 15px rgba(0, 0, 0, 0.2);
  /* --primary-bg: rgb(240, 240, 240); */
  --primary-border: rgb(82, 82, 82);
  --active-bg: #d3c7eb;
  --alert-color: #D4313D;
  --success-color: #3DC296;
  --success-bg: rgb(241, 251, 234);
  --alert-bg: #f7c3ce;
  --warning-color: rgb(252, 215, 52);
  --gold-color: #daa520
}

::-webkit-scrollbar 
{
  width: 5px;
}

::-webkit-scrollbar-track 
{
  background: black;
}

::-webkit-scrollbar-thumb 
{
  background: rgb(66, 66, 66);
}

::-webkit-scrollbar-thumb:hover 
{
  background: black;
}